@import '../../variables';
@import '../../mixins';

.project {
    flex: 1 0 30%;
    max-width: 30%;
    padding: 15px 15px 15px 15px;
}

.project a {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.project img {
    width: 300px;
    height: auto;
}

.projectDesc {
    font-style: normal;
}

.projectTech {
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 992px) {
    .project {
        margin-left: auto;
        margin-right: auto;
        flex: 1 0 100%;
        max-width: 100%;   
    }
}