@import '../../variables';
@import '../../mixins';


#one,
#two {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    flex-basis: 40%;
    max-width: 100%;
}

#one img,
#two img {
    width: 100%;
    padding-top: 10px;

    &:hover {
        transform: scale(1.1);
    }
}

.project {
    flex: 1 0 30%;
    max-width: 30%;
    padding: 15px 15px 15px 15px;
}

.project a {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.project img {
    width: 300px;
    height: auto;

    &:hover {
        transform: scale(1.25);
    }
}

.projectDesc {
    font-style: normal;
}

.projectTech {
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 992px) {
    .project {
        margin-left: auto;
        margin-right: auto;
        flex: 1 0 100%;
        max-width: 100%;   
    }

    .project img {
        &:hover {
            transform: scale(1.15);
        }
    }

    #one,
    #two {
        border: none;
    }

    #one img,
    #two img {
        width: 300px;

        &:hover {
            transform: scale(1.15);
        }
    }
}