@import '../../variables';
@import '../../mixins';

#about {
    @include setMarginPadding();
    overflow: auto;
    @include sectionTopSpacing();
}

#profileImg {
    float: left;
    max-height: 500px;
    border-radius: 50%;
    margin: 0px 50px 0px 50px;
}

#about p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 50px;
}

@media screen and (max-width: 992px) {
    #profileImg {
        margin: 0% 10% 10% 10%;
    }

    #about p {
        margin: 0% 10% 0% 10%;
    }
}