@import '../../variables';

header {
    position: relative;
    padding-top: 65px;
}

header h1 {
    padding-top: 50px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    z-index: 1;
    color: $themeSnow;
}

.code {
    color: $themeThistle;
}

#img-container {
    background-color: $themeViolet;
}

#header-img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    position: relative;
    opacity: 0.6;
}

@media screen and (max-width: 992px) {
    header {
        padding-top: 0px;
    }

    header h1 {
        padding-top: 0px;
    }
}