@import '../../variables';
@import '../../mixins';

footer {
    display: block;
    bottom: 0;
    width: 100%;
    background-color: $themeViolet;
    overflow: hidden;
}

footer p {
    color: $themeThistle;
    font-size: 1.25rem;
}

.footerLink {
    color: $themeSnow;
    
    &:hover {
        text-decoration: underline;
    }
}

#codeLink {
    float: left;
    margin-left: 50px;
}

#clientContact {
    float: right;
    margin-right: 50px;
}

@media screen and (max-width: 900px) {
    footer {
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    #codeLink,
    #clientContact {
        float: none;
        margin-right: 50px;
        margin-left: 50px;
    }
}