@mixin centerContent {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin sectionTopSpacing {
    padding-top: 50px;
    padding-bottom: 50px;
}

@mixin setSectionTitle {
    font-size: $sectionTitleSize;
    padding-bottom: $sectionTitleSpacing;
}

@mixin setMarginPadding {
    margin: 0;
    padding: 0;
}

@mixin setSectionBackground {
    background-color: $themeSnow;
    color: $themeBlack;
}

@mixin setSectionTitle {
    font-size: $sectionTitleSize;
    padding-bottom: $sectionTitleSpacing;
}

@mixin projectFlexProperties {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 33%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
}