// Theme Colors
$themeSnow : #F9F4F5;
$themeThistle : #C8B8D8;
$themeViolet : #70587C;
$themeByzantium: #502F4C;
$themeBlack: #000000;

// Section Title
$sectionTitleSize: 2.5rem;
$sectionTitleSpacing: 25px;