@import './variables';
@import './mixins';

.App {
  @include centerContent();
  @include setMarginPadding();

  font-family: 'Gafata', sans-serif;
  background-color: $themeSnow;
}

a,
LINK {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}